<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="API">
            <directory>tests/api</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>services</directory>
        </include>
    </source>
    <php>
        <env name="YII_ENV" value="test"/>
        <env name="DB_DSN" value="sqlite:/tmp/car_ad_test.db"/>
        <env name="DB_USER" value=""/>
        <env name="DB_PASSWORD" value=""/>
    </php>
</phpunit>